body{
    margin: 0;
    padding: 0;
    min-height: 100vh;/*vh: view height*/
    background: #4c4c4c url('https://unsplash.it/1500/900?image=1021');
    background-size: cover;
    /* 让子元素居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    /* 居中的一般写法 */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    width: 850px;
    display: flex;
}
.speed{
    background-color: #fff;
    flex: 1;/**/
    margin: 10px;
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.speed-bar{
    width: 100%;
    height: 16.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-170deg,#2376ae 0%,#c16ecf 100%);/*线性渐变色*/
    color: #fff;
    cursor: pointer;
    
}
